* {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 23pt;
    font-weight: 400;
    color: #04146c;
}

label {
    font-size: 23pt;
    font-weight: 700;
    color: #04146c;
}

label::after {
    content: "*";
    color: red;
}

input {
    font-family: 'Roboto', sans-serif;
    width: 500px;
    height: 50px;
}

button {
    font-family: 'Roboto Slab', serif;
    font-size: 24pt;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    border: none;
    
}

.btnReset {
    background-color: #f98500;
}

.btnSend {
    background-color: #2c00cc;
    margin-left: 20px;
}

form {
    border: 1px #2c00cc solid;
    padding: 1%;
    width: 850px;
    height: auto;
}

img {
    width: 15%;
}

a {
    font-size: 18pt;
    font-weight: 400;
    color: #04146c;
    text-decoration: none;
    padding-left: 2%;
}

a:active {
    font-weight: bold;
}

.textArea {
    height: 100px;
}

.p1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 34pt;
    color: #2c00cc;
}