* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 72pt;
    color: #0a2ff1;
}

p {
    font-weight: 400;
    font-size: 26pt;
    color: #04146c;
}

.logo {
    width: 5%;
}

a {
    font-size: 18pt;
    font-weight: 400;
    color: #04146c;
    text-decoration: none;
}

header {
    border-top: 20px #4C56F3 solid;
}

header div {
    text-align: center;
}

header nav {
    padding: 2%;
}

header nav a {
    padding-left: 2%;
}

img {
    width: 100%;
}

a:active {
    font-weight: bold;
}



h2 {
    font-family: 'Roboto Slab', serif;
    color: #0a2ff1;
    font-weight: 700;
    font-size: 34pt;
}

.pf1{
    font-size: 18pt;
    font-weight: 700;
    color: #04146c;
}

.pf2 {
    font-size: 18pt;
    font-weight: 400;
    color: #04146c;
}


.contenedor {
    position: relative;
    display: inline-block;
    background-image: url(./images/M5-Desafio3-img.png);
    background-size: 61%;
    background-position: top right;
    background-repeat: no-repeat;
    width: 100%;
    border-bottom: 60px #4C56F3 solid;
}

