* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 44pt;
    font-weight: 700;
    color: #0a2ff1;
    padding-left: 4%;
}

p {
    font-size: 19pt;
    font-weight: 400;
    color: #000000;
    padding-left: 10%;
}

h4 {
    font-size: 19pt;
    font-weight: 700;
    color: #0a2ff1;
    padding-left: 10%;
}

h5 {
    font-size: 18pt;
    font-weight: 400;
    color: #000000;
}

button {
    font-size: 20pt;
    font-weight: 400;
    background-color: #0a2ff1;   
    border: none;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

button a {
    color: white;
    text-decoration: none;
}

header {
    background-size: contain;
}

main {
    width: 80%;
    padding: 10px;
    text-align: left;
}

img {
    width: 98%;
    margin: auto;
    display: block;
}

.img2 {
    width: 100%;
    padding-left: 10%;
}

footer {
    width: 100%;
    padding-left: 9%;
    border-bottom: 5px #15163d solid;
}

body {
    box-sizing: border-box;
}

div {
    border: 1px #15163d solid;
}

